n8n/food_recommendations.json
{
  "name": "food_recommendations",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "당신은 사용자의 입력에서 '음식 이름'을 추출하고 유효성을 검사하는 '음식 판별기'입니다.\n\n[작동 규칙]\n1. 사용자의 메시지에서 구체적인 음식 이름(예: 돈까스, 삼겹살, 파스타 등)을 찾으세요.\n2. 음식이 포함되어 있다면 반드시 아래의 [출력 형식]을 엄격히 지켜 답변하세요. 딴소리를 절대 하지 마세요.\n3. 만약 음식이 아닌 내용(예: \"안녕\", \"오늘 날씨 어때?\")이라면 [음식이 아닙니다]라고만 답변하세요.\n\n[출력 형식]\n음식이 포함된 경우:\n[추출한 음식명], [음식이 맞습니다]\n\n음식이 포함되지 않은 경우:\n[음식이 아닙니다]\n\n[예시]\n사용자: \"나 오늘은 돈까스가 땡겨\" -> 답변: [돈까스], [음식이 맞습니다]\n사용자: \"삼겹살 먹고 싶어\" -> 답변: [삼겹살], [음식이 맞습니다]\n사용자: \"그냥 배고파\" -> 답변: [음식이 아닙니다]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -816,
        672
      ],
      "id": "15d40033-d3af-43bf-98fe-e8fe7d06dfe3",
      "name": "음식 감별기"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "원하는 음식 종류는 무엇입니까?(한식/중식/양식/일식)",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.2,
      "position": [
        -416,
        688
      ],
      "id": "2804887d-a57d-4f33-89b8-92851320df74",
      "name": "음식 종류 ",
      "webhookId": "0c98c0c7-54c5-459f-8691-bbcd5dc33f9a"
    },
    {
      "parameters": {
        "url": "https://ipwho.is/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -416,
        480
      ],
      "id": "9f3e1842-da1d-4892-bad3-2732ac9701a4",
      "name": "내 위치 받기"
    },
    {
      "parameters": {
        "url": "https://openapi.naver.com/v1/search/local.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $node[\"지역명 번역기\"].json[\"output\"] }} {{ $node[\"음식 감별기\"].json[\"output\"].split(',')[0].replace(/[\\[\\]]/g, \"\").trim() }} 맛집"
            },
            {
              "name": "display",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Naver-Client-Id",
              "value": "JfJ0onrVO11ueDgLe3kI"
            },
            {
              "name": "X-Naver-Client-Secret",
              "value": "DRlVrHplFn"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        480
      ],
      "id": "aaa765af-b9a4-4029-b049-7683918f6d4c",
      "name": "네이버 지도"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "당신은 사용자가 선택한 음식 카테고리(한식/양식/중식/일식) 내에서 메뉴 하나를 무작위로 결정하는 '메뉴 결정기'입니다.\n\n[작동 규칙]\n1. 사용자가 선택한 카테고리(예: 한식, 양식 등)를 확인하세요.\n2. 해당 카테고리에 어울리는 대표적인 메뉴 하나를 당신이 직접 고르세요.\n3. 출력 시 '음식이 맞습니다' 같은 부연 설명은 절대 하지 마세요.\n4. 오직 [메뉴 이름] 형식으로만 답변하세요.\n\n[출력 형식]\n[선정한 메뉴 이름]\n\n[예시]\n- 사용자: \"한식\" -> [떡볶이]\n- 사용자: \"양식\" -> [파스타]\n- 사용자: \"중식\" -> [짜장면]\n- 사용자: \"일식\" -> [라멘]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -288,
        832
      ],
      "id": "c8129e48-e879-434e-8f70-296d5e99cc71",
      "name": "음식 추천"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a92dbb27-3ab0-4fa5-be02-373a0b5d6d42",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "예",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        832
      ],
      "id": "f8bd076a-09e3-47fe-ac74-06adc5b39054",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "71774917-5133-4eb5-9117-485d0fc606af",
              "leftValue": "={{ $json.output }}",
              "rightValue": "음식이 맞습니다",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        576
      ],
      "id": "e1b41018-2c04-44f8-b6a3-91a8b60c11ee",
      "name": "음식 감별"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        704,
        480
      ],
      "id": "18eca9ce-18fd-49f5-ab05-26e1dfa483c6",
      "name": "Discord",
      "webhookId": "63427b4d-358e-499c-9a20-481f9684aceb"
    },
    {
      "parameters": {
        "message": "다시 질문드리겠습니다",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.2,
      "position": [
        304,
        944
      ],
      "id": "93774de6-d0df-4778-8aa0-dad6b5ad88a2",
      "name": "음식 재입력",
      "webhookId": "881ad78d-e6e1-497d-96f0-35dd4b0b9e72"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -800,
        832
      ],
      "id": "aa2d6817-09ca-4297-9a7e-fb115c1287e9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "m6Y1SvliHKMAga2a",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -272,
        976
      ],
      "id": "9b7a6d19-2739-4939-9ae6-504e87bfa1cd",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "m6Y1SvliHKMAga2a",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        448,
        624
      ],
      "id": "3e0910f9-7699-4676-8d2f-3c7704074c4a",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "m6Y1SvliHKMAga2a",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45104b9e-22bf-4b71-8a7d-4c033de3f17b",
              "name": "",
              "value": "={{ $node[\"음식 감별기\"].json[\"output\"].split(',')[0].replace(/[\\[\\]]/g, \"\").replace(\"음식이 맞습니다\", \"\").trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        480
      ],
      "id": "15632256-ee0e-4b55-9f5d-73c8b030ab55",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://ipwho.is/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        320,
        752
      ],
      "id": "7fcb3323-9906-4655-91b6-059714336aec",
      "name": "내 위치 받기1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45104b9e-22bf-4b71-8a7d-4c033de3f17b",
              "name": "",
              "value": "={{ $node[\"음식 감별기\"].json[\"output\"].split(',')[0].replace(/[\\[\\]]/g, \"\").replace(\"음식이 아닙니다\", \"\").trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        752
      ],
      "id": "40b9a2e4-7013-4109-a7b4-ae5af4c062bc",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1296,
        752
      ],
      "id": "d9454687-f2b9-44cc-9632-c66917bf4c3a",
      "name": "Discord1",
      "webhookId": "63427b4d-358e-499c-9a20-481f9684aceb"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=검색된 식당 목록:\n{{ JSON.stringify($node[\"네이버 지도\"].json[\"items\"]) }}",
        "options": {
          "systemMessage": "=당신은 네이버에서 실시간으로 검색된 5개의 식당 정보를 분석하여 최적의 추천을 제공하는 '아산 맛집 큐레이터'입니다.\n\n[작동 규칙]\n1. 반드시 전달받은 [제공된 식당 리스트]에 있는 이름만 사용하세요. (절대 없는 이름을 지어내지 마세요)\n2. 각 식당의 'mapx', 'mapy' 좌표와 사용자의 [현재 좌표]를 비교하여 거리를 가늠하세요.\n3. 5개 중 다음 두 곳을 엄격히 선정하세요.\n   - 추천 1 (초근접): 좌표상 가장 가까운 곳.\n   - 추천 2 (고평점/인기): 상호명이나 카테고리가 가장 전문성 있어 보이는 곳.\n\n[답변 형식 - 디스코드 전송용]\n\"오늘의 추천 메뉴 **[입력받은 메뉴명]** 맛집 5곳을 검토하여 가장 좋은 2곳을 선정했습니다! 📍\"\n\n🏠 1. 내 주변 가장 가까운 곳 (거리 우선)\n- 식당명: [식당이름1]\n- 주소: [주소1]\n- 특징: \"현재 위치에서 약 [거리]m 내외로 가장 가깝습니다.\"\n\n⭐ 2. 이 동네 최고 인기 맛집 (평점 우선)\n- 식당명: [식당이름2]\n- 주소: [주소2]\n- 특징: \"방문자 선호도가 높고 전문성이 느껴지는 검증된 곳입니다.\"\n\n\"식당 이름을 클릭하여 네이버 지도로 상세 정보를 확인해 보세요!\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        480
      ],
      "id": "86f7afc4-8452-4021-9541-c945b79ee034",
      "name": "가게 추천2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -16,
        656
      ],
      "id": "6665e02b-5461-4eb2-aae5-2acd8d2e5b09",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "m6Y1SvliHKMAga2a",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=변환할 위치 데이터: {{ JSON.stringify($node[\"내 위치 받기\"].json) }}",
        "options": {
          "systemMessage": "당신은 영문 주소 데이터를 한국어 행정구역 명칭으로 변환하는 전문 번역가입니다.\n\n[작동 규칙]\n1. 입력받은 JSON 데이터에서 도시(city)와 지역(region) 정보를 확인하세요.\n2. 영문 명칭(예: Asan-si, Seoul, Busan)을 한국어 행정구역 명칭(예: 아산, 서울, 부산)으로 변환하세요.\n3. 다른 부연 설명이나 문장 없이, 오직 변환된 \"도시 이름\"만 딱 한 단어로 출력하세요.\n   - 입력: Asan-si -> 출력: 아산\n   - 입력: Seoul -> 출력: 서울\n   - 입력: Busan -> 출력: 부산"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16,
        480
      ],
      "id": "f3c3c1c6-3a4a-4e4f-bc3e-269e985c761c",
      "name": "지역명 번역기"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=변환할 위치 데이터: {{ JSON.stringify($node[\"내 위치 받기1\"].json) }}",
        "options": {
          "systemMessage": "당신은 영문 주소 데이터를 한국어 행정구역 명칭으로 변환하는 전문 번역가입니다.\n\n[작동 규칙]\n1. 입력받은 JSON 데이터에서 도시(city)와 지역(region) 정보를 확인하세요.\n2. 영문 명칭(예: Asan-si, Seoul, Busan)을 한국어 행정구역 명칭(예: 아산, 서울, 부산)으로 변환하세요.\n3. 다른 부연 설명이나 문장 없이, 오직 변환된 \"도시 이름\"만 딱 한 단어로 출력하세요.\n   - 입력: Asan-si -> 출력: 아산\n   - 입력: Seoul -> 출력: 서울\n   - 입력: Busan -> 출력: 부산"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        640,
        752
      ],
      "id": "86913601-1b11-4b5e-b9fa-1f30876aef0f",
      "name": "지역명 번역기1"
    },
    {
      "parameters": {
        "url": "https://openapi.naver.com/v1/search/local.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $node[\"지역명 번역기1\"].json[\"output\"] }} {{ $node[\"음식 추천\"].json[\"output\"].split(',')[0].replace(/[\\[\\]]/g, \"\").replace(\"음식은 맞습니다\", \"\").trim() }} 맛집"
            },
            {
              "name": "display",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Naver-Client-Id",
              "value": "JfJ0onrVO11ueDgLe3kI"
            },
            {
              "name": "X-Naver-Client-Secret",
              "value": "DRlVrHplFn"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        752
      ],
      "id": "2fe2443a-2cc1-418c-8926-e539a4b8da1c",
      "name": "네이버 지도1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[식당 리스트]\n{{ $node[\"네이버 지도1\"].json[\"items\"].map(i => `- ${i.title.replace(/<[^>]*>?/gm, '')} (주소: ${i.address})`).join('\\n') }}\n[사용자 좌표]\n위도: {{ $node[\"내 위치 받기1\"].json[\"latitude\"] }}, 경도: {{ $node[\"내 위치 받기1\"].json[\"longitude\"] }}",
        "options": {
          "systemMessage": "=당신은 네이버 검색 결과를 분석하여 최적의 맛집을 선정하는 전문가입니다.\n\n[작동 규칙]\n1. 반드시 전달받은 [식당 리스트]에 있는 식당 중에서만 선택하세요. 절대 새로운 이름을 지어내지 마세요.\n2. 사용자의 현재 위치와 가장 가까운 식당 1곳과, 메뉴가 매력적인 인기 식당 1곳을 선정하세요.\n3. 답변은 불필요한 서론 없이 즉시 디스코드 전송용 형식으로 작성하세요.\n\n[답변 형식]\n\"오늘의 추천 맛집을 찾았습니다! 📍\"\n\n🏠 1. 내 주변 가장 가까운 곳\n- 식당명: [이름]\n- 주소: [주소]\n- 특징: \"현재 위치에서 가장 가깝습니다.\"\n\n⭐ 2. 이 동네 최고 인기 맛집\n- 식당명: [이름]\n- 주소: [주소]\n- 특징: \"방문자 선호도가 높은 곳입니다.\"\n\n\"원하시는 식당 이름을 클릭하여 상세 정보를 확인해 보세요!\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1024,
        752
      ],
      "id": "1cbca25c-7f69-4777-830c-a79f660cc06b",
      "name": "가게 추천"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1024,
        912
      ],
      "id": "867f8ccd-56bb-49a9-b3ec-2cd3b5e2f1b7",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "m6Y1SvliHKMAga2a",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        640,
        896
      ],
      "id": "4c522b98-4d4d-4ed2-8fbb-35a51d7bc41b",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "m6Y1SvliHKMAga2a",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -192,
        976
      ],
      "id": "be067509-8016-48ca-8ddc-6da21850efa7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1008,
        672
      ],
      "id": "7e75197c-71e8-4a80-a0af-e69b30c62a06",
      "name": "대화 시작",
      "webhookId": "93ee9a1b-66f1-416a-928c-bf46cade74c4"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "=음식이 마음에 드시나요? {{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.2,
      "position": [
        16,
        832
      ],
      "id": "cbd58af2-93ce-4357-b2d2-ea62c02404a4",
      "name": "선호 확인",
      "webhookId": "632f158e-439b-41a1-b894-05a2362757fd"
    }
  ],
  "pinData": {},
  "connections": {
    "음식 감별기": {
      "main": [
        [
          {
            "node": "음식 감별",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "음식 종류 ": {
      "main": [
        [
          {
            "node": "음식 추천",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "내 위치 받기": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "네이버 지도": {
      "main": [
        [
          {
            "node": "가게 추천2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "음식 추천": {
      "main": [
        [
          {
            "node": "선호 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "내 위치 받기1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "음식 재입력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "음식 감별": {
      "main": [
        [
          {
            "node": "내 위치 받기",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "음식 종류 ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "음식 재입력": {
      "main": [
        [
          {
            "node": "음식 감별기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "음식 감별기",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "음식 추천",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "가게 추천2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "지역명 번역기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "내 위치 받기1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "지역명 번역기1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "가게 추천2": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "지역명 번역기",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "지역명 번역기": {
      "main": [
        [
          {
            "node": "네이버 지도",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "지역명 번역기1": {
      "main": [
        [
          {
            "node": "네이버 지도1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "네이버 지도1": {
      "main": [
        [
          {
            "node": "가게 추천",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "가게 추천",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "지역명 번역기1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "가게 추천": {
      "main": [
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "음식 추천",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "대화 시작": {
      "main": [
        [
          {
            "node": "음식 감별기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "선호 확인": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "27856b16-31cf-428a-b38c-241a881487f1",
  "meta": {
    "instanceId": "80e00d135d3f7d4c0d57ec3b196cc410cd8de0120d29787d11d644d0b4c49af3"
  },
  "id": "jeVZSCQVlIxXoxxf",
  "tags": []
}